body {
  font-family: "EB Garamond", Helvetica, Tahoma;
  font-weight: 400;
  font-size: 18px;
  color: #383838;
  background: lightblue;
  height: 100%;
  position: relative;
}

a {
  color: navy;
}
a:hover, a:active, a:focus {
  color: navy;
  outline: none;
  text-decoration: none;
}

p {
  margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: navy;
  font-family: "EB Garamond", Helvetica, Tahoma;
  font-weight: 300;
}

button {
  background: lightblue;
  color: navy;
  font-size: 20px;
  font-family: "EB Garamond", Helvetica, Tahoma;
  border: 1px solid navy;
  border-radius: 10px;
  box-shadow: 2px 4px 5px darkgrey;
  cursor: pointer;
}

img {
  border: 1px solid navy;
  border-radius: 10px;
}

.centered {
  text-align: center;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

.ans-unans {
  display: flex;
  justify-content: center;
  font-family: "EB Garamond", Helvetica, Tahoma;
  flex-direction: row;
  align-items: flex-start;

}

.q-list {
  display: flex;
  justify-content: center;
  font-family: "EB Garamond", Helvetica, Tahoma;
  flex-direction: row;
  align-items: flex-start;
}

.question {

}